# MongoDB Connection String
# Format: mongodb+srv://username:password@cluster.mongodb.net/?appName=your-app-name
MONGODB_URI=mongodb+srv://kondratenkodima364_db_user:ks5s3i73nnSOAle9@electronic-shops.bye0ek6.mongodb.net/?appName=electronic-shops

# Backend API Base URL (for production)
VUE_APP_API_BASE_URL=https://your-backend-api-server.com

